/* ---------------------------------
	Animations
	------------------------------- */

/* Slide */
.jmuiLayout,
.jmuiPage {
    &.jmuiSlide {
        &.jmuiStart {
        .transition-property(transform);
        }
        &.jmuiIn,
        &.jmuiOut.jmuiReverse.jmuiStart { 
            .transform(translateX(100%));
        }
        &.jmuiOut.jmuiStart,
        &.jmuiIn.jmuiReverse {
            .transform(translateX(-100%));
        }
        &.jmuiOut,
        &.jmuiOut.jmuiReverse,
        &.jmuiIn.jmuiStart,
        &.jmuiIn.jmuiReverse.jmuiStart {
            .transform(translateX(0));  
        }
    }
}
.jmuiWp8 {
    .jmuiLayout,
    .jmuiPage {
        &.jmuiSlide {
            &.jmuiIn,
            &.jmuiOut.jmuiReverse.jmuiStart {
                   transform: translate3d(0,0,0) rotateY(180deg);
                    opacity: 0;
	                transform-origin: -8px;
	                transition-property: all;
            }
            &.jmuiOut.jmuiStart,
            &.jmuiIn.jmuiReverse {
                    transform: translate3d(0,0,0) rotateY(-180deg);
                    opacity: 0;
	                transform-origin: -8px;
	                transition-property: all;
            }
            &.jmuiOut,
            &.jmuiOut.jmuiReverse,
            &.jmuiIn {
                &.jmuiStart,
                &.jmuiReverse.jmuiStart {
                        transform: translate3d(0,0,0) rotateY(0deg);
                        opacity: 1;
	                    transform-origin: -8px;
	                    transition-property: all;
                }
            }
        }
    }
}

/* Fade + Dissolve */
.jmuiLayout,
.jmuiPage {
    &.jmuiFade,
    &.jmuiDissolve {
        &.jmuiStart {
            .transition-property(opacity);
        }    
    }
    &.jmuiFade {
        &.jmuiIn,
        &.jmuiOut.jmuiReverse.jmuiStart {opacity: 0; }
        &.jmuiOut.jmuiStart,
        &.jmuiIn.jmuiReverse {opacity: .99; }
        &.jmuiOut,
        &.jmuiOut.jmuiReverse {opacity: 1;}
        &.jmuiIn {
            &.jmuiStart,
            &.jmuiReverse.jmuiStart {opacity: 1;}
        }     
    }
    &.jmuiDissolve {
    	&.jmuiIn,
    	&.jmuiOut.jmuiReverse.jmuiStart,
    	&.jmuiOut.jmuiStart,
    	&.jmuiIn.jmuiReverse {opacity: 0;}
    	&.jmuiOut,
    	&.jmuiOut.jmuiReverse {opacity: 1;}
    	&.jmuiIn {
    		&.jmuiStart,
    		&.jmuiReverse.jmuiStart {opacity: 1;}
    	}	
    }	
}

/* Flip */

.jmuiLayout,
.jmuiPage {
	&.jmuiFlip {
		&.jmuiStart {
			.transition-duration(.65s);
			.transition-property(transform);		
		}
		&.jmuiIn,
		&.jmuiOut.jmuiReverse.jmuiStart {.transform(rotateY(180deg) scale(.8)); }
		&.jmuiOut.jmuiStart,
		&.jmuiIn.jmuiReverse {.transform(rotateY(-180deg) scale(.8)); }
		&.jmuiOut,
		&.jmuiOut.jmuiReverse {.transform(rotateY(0) scale(1));}
		&.jmuiIn {
			&.jmuiStart,
			&.jmuiReverse.jmuiStart {.transform(rotateY(0) scale(1));}
		}
	}
}

/* Slideup */

.jmuiLayout,
.jmuiPage {
	&.jmuiSlideup {
			&.jmuiStart {
				z-index: 10;
				.transition-transform-property()		
			}
			&.jmuiIn,
			&.jmuiOut.jmuiReverse.jmuiStart {
				.transform(translateY(100%));
				opacity: 1;
				z-index: 30;
			}
			&.jmuiOut.jmuiStart,
			&.jmuiIn.jmuiReverse {
				.transform(translateY(0)); 
				opacity: .99;
				z-index: 10;
			}
			&.jmuiOut,
			&.jmuiOut.jmuiReverse,
			&.jmuiIn.jmuiStart,
			&.jmuiReverse.jmuiStart {
				opacity: 1;
				z-index: 30;
				.transform(translateY(0)); 
			}
		}
	}

/* Swap */

.jmuiLayout,
.jmuiPage { 
	&.jmuiSwap {
		.transform( perspective(800));
		.animation-duration();
		&.jmuiOut {.animation-name(swapouttoleft);}
		&.jmuiIn {.animation-name(swapinfromright);}
		&.jmuiOut.jmuiReverse {.animation-name(swapouttoright);}
		&.jmuiIn.jmuiReverse {.animation-name(swapinfromleft);}
	}
	
}
@-webkit-keyframes swapouttoright {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	50% {
		-webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-webkit-keyframes swapouttoleft {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	50% {
		-webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-webkit-keyframes swapinfromright {
	0% {
		-webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-webkit-keyframes swapinfromleft {
	0% {
		-webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-moz-keyframes swapouttoright {
	0% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-moz-animation-timing-function: ease-in-out;
	}
	50% {
		-moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-moz-animation-timing-function: ease-in;
	}
	100% {
		-moz-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-moz-keyframes swapouttoleft {
	0% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-moz-animation-timing-function: ease-in-out;
	}
	50% {
		-moz-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-moz-animation-timing-function: ease-in;
	}
	100% {
		-moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-moz-keyframes swapinfromright {
	0% {
		-moz-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-moz-animation-timing-function: ease-out;
	}
	50% {
		-moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-moz-animation-timing-function: ease-in-out;
	}
	100% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-moz-keyframes swapinfromleft {
	0% {
		-moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-moz-animation-timing-function: ease-out;
	}
	50% {
		-moz-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-moz-animation-timing-function: ease-in-out;
	}
	100% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-ms-keyframes swapouttoright {
	0% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-ms-animation-timing-function: ease-in-out;
	}
	50% {
		-ms-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-ms-animation-timing-function: ease-in;
	}
	100% {
		-ms-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-ms-keyframes swapouttoleft {
	0% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-ms-animation-timing-function: ease-in-out;
	}
	50% {
		-ms-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-ms-animation-timing-function: ease-in;
	}
	100% {
		-ms-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-ms-keyframes swapinfromright {
	0% {
		-ms-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-ms-animation-timing-function: ease-out;
	}
	50% {
		-ms-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-ms-animation-timing-function: ease-in-out;
	}
	100% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-ms-keyframes swapinfromleft {
	0% {
		-ms-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-ms-animation-timing-function: ease-out;
	}
	50% {
		-ms-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-ms-animation-timing-function: ease-in-out;
	}
	100% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-o-keyframes swapouttoright {
	0% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-o-animation-timing-function: ease-in-out;
	}
	50% {
		-o-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-o-animation-timing-function: ease-in;
	}
	100% {
		-o-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-o-keyframes swapouttoleft {
	0% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-o-animation-timing-function: ease-in-out;
	}
	50% {
		-o-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-o-animation-timing-function: ease-in;
	}
	100% {
		-o-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-o-keyframes swapinfromright {
	0% {
		-o-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-o-animation-timing-function: ease-out;
	}
	50% {
		-o-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-o-animation-timing-function: ease-in-out;
	}
	100% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-o-keyframes swapinfromleft {
	0% {
		-o-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-o-animation-timing-function: ease-out;
	}
	50% {
		-o-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-o-animation-timing-function: ease-in-out;
	}
	100% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@keyframes swapouttoright {
	0% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@keyframes swapouttoleft {
	0% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@keyframes swapinfromright {
	0% {
		transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@keyframes swapinfromleft {
	0% {
		transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

/*cube animation*/

.jmuiLayout,
.jmuiPage {
	&.jmuiCube {
		&.jmuiStart {
			.animation-duration(550ms);
			.transition-duration(550ms);
			.transition-property(opacity);
		}
		&.jmuiIn {
			.transform-origin(0% 50%);
			.animation-name(cubeinfromright);
		}
		&.jmuiOut {
			.transform-origin(100% 50%);
			.animation-name(cubeouttoleft);
		}
		&.jmuiIn,
		&.jmuiOut.jmuiReverse.jmuiStart {opacity: 1;}
		&.jmuiOut.jmuiStart,
		&.jmuiIn.jmuiReverse {opacity: .99;}
		&.jmuiOut,
		&.jmuiOut.jmuiReverse {opacity: 1;}
		&.jmuiIn {
			&.jmuiStart,
			&.jmuiReverse.jmuiStart {opacity: 1;}
		}
		&.jmuiIn.jmuiReverse {
			.animation-name(cubeinfromleft);
			.transform-origin(100% 50%);	
		}
		&.jmuiOut.jmuiReverse {
			.animation-name(cubeouttoright);
			.transform-origin(0% 50%);
		}
	}
}

@-webkit-keyframes cubeinfromleft {
	from {
		-webkit-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-webkit-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes cubeouttoright {
	from {
		-webkit-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-webkit-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-webkit-keyframes cubeinfromright {
	from {
		-webkit-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-webkit-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes cubeouttoleft {
	from {
		-webkit-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-webkit-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@-moz-keyframes cubeinfromleft {
	from {
		-moz-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-moz-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-moz-keyframes cubeouttoright {
	from {
		-moz-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-moz-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-moz-keyframes cubeinfromright {
	from {
		-moz-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-moz-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-moz-keyframes cubeouttoleft {
	from {
		-moz-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-moz-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@-ms-keyframes cubeinfromleft {
	from {
		-ms-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-ms-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-ms-keyframes cubeouttoright {
	from {
		-ms-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-ms-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-ms-keyframes cubeinfromright {
	from {
		-ms-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-ms-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-ms-keyframes cubeouttoleft {
	from {
		-ms-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-ms-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@-o-keyframes cubeinfromleft {
	from {
		-o-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-o-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-o-keyframes cubeouttoright {
	from {
		-o-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-o-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-o-keyframes cubeinfromright {
	from {
		-o-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-o-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-o-keyframes cubeouttoleft {
	from {
		-o-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-o-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@keyframes cubeinfromleft {
	from {
		transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes cubeouttoright {
	from {
		transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@keyframes cubeinfromright {
	from {
		transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes cubeouttoleft {
	from {
		transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

/*Popup*/

.jmuiLayout,
.jmuiPage {
	&.jmuiPop {
		&.jmuiStart {
			.transform-origin(50% 50%);
			.transition-transform-property();
		}
		&.jmuiIn,
		&.jmuiOut.jmuiReverse.jmuiStart {
			.scale(.2);
			opacity: 0;
		}
		&.jmuiOut.jmuiStart,
		&.jmuiIn.jmuiReverse {
			.scale(1);
			opacity: .99;
		}
		&.jmuiOut,
		&.jmuiOut.jmuiReverse {
			.scale(1);
			opacity: 1;
		}
		&.jmuiIn {
			&.jmuiStart,
			&.jmuiReverse.jmuiStart {
				.scale(1);
				opacity: 1;
			}
		}
	}
}

/*Spinning*/
.spin(@speed) {
  -webkit-animation: spin @speed infinite linear;
  -moz-animation: spin @speed infinite linear;
  -o-animation: spin @speed infinite linear;
  animation: spin @speed infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}