/* --------------------------------------------------
 Button and glyphs
 -------------------------------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype');
}

// Button contruction

.jmuiToolButton, 
.jmuiDeleteButton, 
.jmuiCancelButton, 
.jmuiBackButton, 
.jmuiAddButton, 
.jmuiActionButton {
	overflow: hidden;
	width: auto;
	font-size: @button-font-size;
	text-overflow: ellipsis;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	padding: 6px;
	height: 32px;
	color: @Carillion-health-blue;
}

.jmuiHeader > div {	width: 36px;}

.jmuiAddButton {font-size: (@button-font-size * 2);}

.jmuiToolButton[disabled], 
.jmuiDeleteButton[disabled], 
.jmuiCancelButton[disabled], 
.jmuiBackButton[disabled], 
.jmuiAddButton[disabled], 
.jmuiActionButton[disabled] {
	color: @disabled;
}

:before, :after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: @button-weight;
	line-height: 1;
	.font-smoothing;
	display: inline-block;
}

//Action button
.ActionButton {
	li {
		display: inline-block;
		padding: 5px 15px !important;}
	li.jmuiArrow:after {content: "";}
	}

//Adding right aligned icons to containers

.jmuiArrow:after,
.jmuiCompositeClear:after,
.barcodeInline li:before,
.jmuiTick:after,
.jmuiCompositeArrow:after { 
	position: absolute;
	top: 2px;
	right: @page-margin;
	font-size:@glyph-size;
}

//Left aligned delete button
.subjectDelete {
	display: inline-block;
}

// composite controls

.jmuiCompositeClear {
	float: right;
	width: auto;
	text-align: left;
	height: auto;
}


//Selected buttons

.jmuiSelected.jmuiArrow:after,
.jmuiSelected .subjectDelete {color: @highlight-text;}

// Button content

.subjectDelete { &:before { content: "\f056"; } }
.jmuiArrow { &:after { content: "\f138";}  }
.jmuiCompositeClear { &:after { content: "\f057";.scale(1.2);}  }
.jmuiTick { &:after { content: "\f00c";}  }

//Font Awesome 
.fa-stack i:nth-child(2) {color:@background;}
.jmuiToolbar i {vertical-align: middle;}

//Left toolbar buttons

.jmuiHeader .left {color: @Carillion-navy-blue;}