/* --------------------------------------------------
 Form Elements
 -------------------------------------------------- */

.jmuiLayout ul li input[type="text"],
.jmuiLayout ul li input[type="password"],
.jmuiLayout ul li input[type="tel"],
.jmuiLayout ul li input[type="number"],
.jmuiLayout ul li input[type="search"],
.jmuiLayout ul li input[type="email"],
.jmuiLayout ul li input[type="url"],
.jmuiLayout ul li textarea,
.jmuiLayout ul li select {
	.box-sizing(border-box);
	display: inline-block;
	-webkit-appearance: textarea;
	padding: 5px;
	.border-radius(@border-radius);
	border: @default-border-width solid @border-color;
	width: 100%;
}

.jmuiLayout ul li select {
	background: @element-bg;
	white-space: normal;
	text-indent: 0;
	padding: 2px;
	margin-right: @page-margin;
}