// ----------------------------------
//Specific styling for the health app
// ----------------------------------


//Style up grid tables so that they look like a actionlist
.gridListLayout ul {
	li {
		padding: 0;
		margin: 0;
		}
	table {border-collapse: collapse;}
	tbody tr { 
		border-top: (@element-padding) solid @scrollerBg;
		border-bottom: (@element-padding) solid @scrollerBg;
		}
    th,
	td {
		border: none !important;
		padding: @page-margin !important;
		background-color: @Carillion-health-blue;
		color:@Carillion-white;
		}
	tr {background-color: transparent !important;}	
	td.jmuiArrow:after {top: (@page-margin/2);}
	}
	
	
//Presentation area
div.md_presentationInlineContainer {
	padding: @page-margin;
	background-color: @Carillion-blue;
	color:@Carillion-white;
}	

//Selection Grid
.SelectionGrid  ul {
	li {padding: 0;
		margin: 0;}
	th,
	td {border: none;
		padding: 10px;}
	td {border-top: (@element-padding) solid @scrollerBg;}	
	tr:nth-child(even) {background-color: @Carillion-white;}
	th {background-color: @Carillion-health-blue;
		color:@Carillion-white;}
	}
	
#login {
	> div {background-color: @Carillion-blue;}
	div.md_inlineContainer {
		width:50%;
		margin: 0 auto;
		background-color:@Carillion-white;
		padding: 20px 20px 0;
		li {
			margin: 0;
			padding: 0;
			}
		h2 {
			color: @Carillion-blue;
			font-weight: normal;
			font-size: 1.4em;
			}
	}
	div.md_inlineContainer:last-child {padding-bottom: 20px;}
	div.md_presentationInlineContainer {
		height: 80px;
		padding: 20px;
		width: 100%;
		border-bottom: 20px solid @Carillion-pale-blue;	
		div.pa_logo {
			height: 80px;
			background: url(img/logo.png) top left no-repeat;
			}
	}
	.ActionButton li {
		background-color: @Carillion-blue;
		color:@Carillion-white;	
	}
}

.commentPage {
	padding: 10px;
	background-color: @Carillion-blue;
	color:@Carillion-white;
	}