/* --------------------------------------------------
 Layout
 -------------------------------------------------- */

body {
	background: @background;
	overflow-x: hidden;
	font-family: @font-family-sans-serif;
	color: @input-text;
	font-size: @font-size-base;
}

.jmuiLeftColumn {
	right: auto;
	width: 300px;
}

.jmuiRightColumn {
	left: 300px;
	right: 0;
}

//PPA loading page
#ppaLoadingPage {
	height: 100%;
}

//Generic Question Layout
div.md_inlineContainer,
div.md_popupLinkContainer,
div.md_popupQuestionContainer,
div.md_listPageContainer,
div.md_slotContainer {	
	clear: both;
	padding: 0;
}

div.md_inlineContainer div.md_inlineContainer { 
	padding: 0;
	border: none;
	}

div.md_inlineContainer:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

//Generic Question Titles
h1, h2, h3, h4 {font-size: @font-size-base;	}
h4 {
	font-size: (@font-size-base - 1);
	font-weight: normal;	
}

//Question layout

.jmuiLayout li {
	position:relative;
	padding: @element-padding @page-margin;
	list-style-type: none;
	margin: (@element-padding / 2) 0;
}

//Side by side and inline

h2.jmuiLateral {
	width: auto;
	min-width: 100px;
	text-align: right;
	padding: @element-padding @page-margin @element-padding 0;
	clear: both;
	float: left;
}

h2.jmuiLateral.jmuiEdge {text-align: left;}

ul.jmuiLateral {overflow:hidden;}

ul.jmuiLateral.sideBySide {
	float: none;
	display: inline;
}

ul.sideBySide li {
	display: inline-block;
	padding-right: @page-margin;
}

//Generic table layout

.jmuiLayout ul table {
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
}			

.jmuiLayout ul th {background-color:  @table-th;}
.jmuiLayout ul th:empty {display: none;}

.jmuiLayout ul td, 
.jmuiLayout ul th {
	padding: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	border: @default-border-width solid @border-color;
	position: relative;
}

//.jmuiLayout ul td.jmuiArrow {display: list-item;}
.jmuiLayout ul tr:nth-child(odd) {background-color: @table-odd;}
.jmuiLayout ul tr:nth-child(even) {background-color: @table-even;}
.jmuiLayout ul tr.jmuiSelected {background-color:@selected;}

.jmuiLayout ul td img {width: 100%;}