/* --------------------------------------------------
 mDesign base components
 -------------------------------------------------- */
 
.jmuiNotransform {
    .transform(none);
}
.jmuiLayout {
	display: none;
	.fullViewport(0,0,0,0);
	.text-size-adjust(none);
	.backface-visibility(hidden);
	.transform(translate3d(0,0,0) rotate(0) scale(1));
	.transform-style(~"preserve-3d");
}
.jmuiColumn {
	.fullViewport(0,0,0,0);
	.user-select(none);
	.text-size-adjust(none);
    .transform-style(~"preserve-3d");
	.perspective(800);
}
//Pages
.jmuiPage {
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
	overflow-x: hidden;
	.box-sizing(border-box);
	.backface-visibility(hidden);
    .transform(translate3d(0,0,0) rotate(0) scale(1));
    .jmuiSelectable,
    input,
    textarea {.user-select(auto);}
}
.jmuiLayout,
.jmuiPage {
	&.jmuiIn.jmuiStart, 
	&.jmuiOut.jmuiStart {
    .transition-duration;
    .transition-timing-function;
	}
}	

//jmuiSegment
.jmuiCurrent, 
.jmuiSegmentPanel.jmuiSelected {
    display: block !important;
}

.jmuiSegmentGroup {
    overflow: hidden;
}
.jmuiSegmentPanel {
	display: none;
	float: left;
	width: 100%;
}

//Page scroller

.jmuiPageScroller {
	padding-top: (@default-element-height + @default-border-width);
	padding-bottom: (@default-element-height + @default-border-width);
}

.jmuiPageScroller {
	.jmuiHeader, 
	.jmuiFooter {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.jmuiHeader {
		top: 0;
	}
	.jmuiFooter {
		bottom: 0;
	}
}

.jmuiScroller, 
.jmuiNativeScroller {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color:@scrollerBg;
}
.jmuiScroller > div, 
.jmuiNativeScroller > div {
	float: left;
	width: 100%;
	padding: 0;
}
.jmuiMask {
	float: none;
	.fullViewport(0,0,0,0);
}