// --------------------------------------------------
// Mixins
// --------------------------------------------------

//Calculations
.calculated-width (@args) {
    width: -moz-calc(@args);
    width: -webkit-calc(@args);
    width: calc(@args);
}

//Sizing and position
.box-sizing(@args) {
    -webkit-box-sizing: @args;
	-moz-box-sizing: @args;
	-ms-box-sizing: @args;
	-o-box-sizing: @args;
	box-sizing: @args;
}
.position(@p:absolute,@l:auto,@t:auto,@r:auto,@b:auto) {
    position: @p;    
    left: @l;
    top: @t;
	right: @r;
	bottom: @b;
}
.fullViewport(@l,@t,@r,@b) {
    .position(absolute,@l,@t,@r,@b);
}
.backface-visibility(@args) {
    -webkit-backface-visibility:@args;
    -moz-backface-visibility:@args;
    -ms-backface-visibility:@args;
    backface-visibility:@args;
}

.perspective(@arg) {
	-webkit-perspective:@arg;
	-moz-perspective:@arg;
	perspective:@arg;
}

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}
 
// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-flex: @columns;
     -moz-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}
 
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}
 
// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}
 
// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}
 
// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-box-ordinal-group: @order;
  -webkit-order: @order;
     -moz-order: @order;
      -ms-order: @order;
          order: @order;
}
 
// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-box-flex: @grow;
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}
 
// Flex shr
// - applies to: flex itemsink factor
// <number> 
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}
 
// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
     -moz-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}
 
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}
 
// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
  -webkit-align-content: @align;
     -moz-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}
 
// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}
 
// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}


//Transforms
.transform(@args) {
    -webkit-transform: @args; 
    -moz-transform: @args; 
    -ms-transform: @args; 
    -o-transform: @args; 
    transform: @args;
}
.rotate(@deg:45deg){
    .transform(rotate(@deg));
}
.scale(@factor:.5){
    .transform(scale(@factor));
}
.translate(@x,@y){
    .transform(translate(@x,@y));
}
.translate3d(@x,@y,@z) {
    .transform(translate3d(@x,@y,@z));
}
.translateHardware(@x,@y){
    .translate(@x,@y);
    -webkit-transform: translate3d(@x,@y,0);
    -moz-transform: translate3d(@x,@y,0);
}
.flip(@deg:180deg){
    .transform(rotate(@deg));
}
.transform-style(@args) {
    -webkit-transform-style: @args;
    transform-style: @args;   
}

// Transitions
.transition(@args:350ms) {
    -webkit-transition: @args;
    -moz-transition: @args;
    -o-transition: @args;
    transition: @args;
}
.transition-delay(@delay:0) {
    -webkit-transition-delay: @delay;
    -moz-transition-delay: @delay;
    -o-transition-delay: @delay;
    transition-delay: @delay;
}
.transition-duration(@duration:350ms) {
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -ms-transition-duration: @duration;
    -o-transition-duration: @duration;
    transition-duration: @duration;
}
.transition-property(@property:all) {
    -webkit-transition-property: -webkit-@property;
    -moz-transition-property: -moz-@property;
    -ms-transition-property: -ms-@property;
    -o-transition-property: -o-@property;
    transition-property: @property;
}

.transition-transform-property(@property:opacity, ) {
    -webkit-transition-property: -webkit-transform, @property;
    -moz-transition-property: -moz-transform, @property;
    -ms-transition-property: -ms-transform, @property;
    -o-transition-property: -o-transform, @property;
    transition-property: transform, @property;
}

.transition-timing-function(@function:ease-in-out) {
    -webkit-transition-timing-function: @function;
    -moz-transition-timing-function: @function;
    -o-transition-timing-function: @function;
    transition-timing-function: @function;
}

//Animations
.animation-duration(@duration:700ms) {
	-webkit-animation-duration: @duration;
	-moz-animation-duration: @duration;
	-ms-animation-duration: @duration;
	-o-animation-duration: @duration;
	animation-duration: @duration;
}
.animation-name(@arg) {
	// swapouttoleft, swapinfromright, swapouttoright, swapinfromleft
	-webkit-animation-name: @arg;
	-moz-animation-name: @arg;
	-ms-animation-name: @arg;
	-o-animation-name: @arg;
	animation-name: @arg;
}

//Transforms
.transform-origin(@args) {
	-webkit-transform-origin: @args;
	-moz-transform-origin: @args;
	-ms-transform-origin: @args;
	-o-transform-origin: @args;
	transform-origin: @args;
}

//Typography
.text-size-adjust(@args) {
     -webkit-text-size-adjust: @args;
	-moz-text-size-adjust: @args;
	-ms-text-size-adjust: @args;
	-o-text-size-adjust: @args;
	text-size-adjust: @args;  
}

//Selection
.user-select(@args) {
    -webkit-user-select: @args;
    -moz-user-select: @args;
	-ms-user-select: @args;
	-o-user-select: @args;
	user-select: @args;
}

//Presentation

.border-radius(@args) {
    -webkit-border-radius: @args;
    -moz-border-radius: @args;
    border-radius: @args;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
//Glyph padding

.glyphpadding (borderless) {
	padding: 0 (@page-margin/4);
}

.glyphpadding (bordered) {
	padding: 0 (@page-margin/8);
}


//Typography
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}