/* --------------------------------------------------
 Page types and page specific styling
 -------------------------------------------------- */

//Subject selector page

#subjectsPage {
	.subjectSelectorInline {
    	li table {
			border: none;
			border-spacing: 0;
		}
		li td {
			position: relative;
			padding: 0;
		}
	}
}

//Process selector page
#processPage {
	ul.processSelectorInline {border-color:@background;}
}

//Replication page
#replicatePage {
	.jmuiToolbar {
		background: @Carillion-white; 
		border: none;
	}
	.jmuiToolbar > h1 {display: none;}
	.jmuiToolbar .jmuiCancelButton {
		color: @Carillion-grey; 
		width: 30px;
		height: 34px;
		line-height: 34px;
		font-size: 2em;
		padding: 0;
		margin: 6px;
	}
	.jmuiToolbar .jmuiCancelButton:before {
		content:@fa-var-times-circle;
	}
}