/* --------------------------------------------------
 Question specific
 -------------------------------------------------- */


//ComboInline question 
.comboInline .jmuiCompositeInput {margin-right: @page-margin;}

//Sketch Question
.sketch {
	border: @default-border-width solid @border-color;
	width: 100%;
	}

//QR Barcode

h2.md_qrcodeInlineHeader,
h2.md_barcodeInlineHeader {
	display: inline;
}

ul.barcodeInline div img[src*="barcontrol.png"], 
ul.barcodeInline div img[src*="qrcontrol.png"] {
	vertical-align: middle;
}

//Process Selector

.processSelectorInline li.processRow {padding-left: 0;}
.processSelectorInline li.processRow[style*="background-image"]  {padding-left: 42px !important;}

//Inspection
.tagLabel {
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
	margin: 0 4px 0 0;
	padding-top: 1px;
	color: @accent;
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
	background-image: none;
	border: @default-border-width solid @accent;
	border-radius: 9px;
}
 .pinLabel {
	width: 20px;
	height: 20px;
	text-align: center;
	padding-top: 4px;
	margin-left: -9px;
	margin-top: -3px;
	color: @element-bg;
	font-size: 12px;
	font-weight: bold;
	background-image: none;
	background-color:@accent;
	border-radius: 30px 30px 10px 10px;
	line-height: 20px;
}  