/* --------------------------------------------------
 UI Controls
 -------------------------------------------------- */

//Toolbars
.jmuiToolbar {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	.flex-display;
	.flex-direction;
	.flex-wrap;
	.align-items(center);
	.justify-content(space-between);
	.box-sizing(content-box);
	height: @toolbar-height;
}

.jmuiHeader.jmuiToolbar, 
.jmuiHeader .jmuiToolbar {
	border-bottom: @default-border-width solid @Carillion-white;
}

.jmuiFooter.jmuiToolbar, 
.jmuiFooter .jmuiToolbar {
	border-top: @default-border-width solid @Carillion-blue;
	background-color: @Carillion-blue;
}

.jmuiToolbar > h1 {
	.flex-shrink;
	.flex-order(2);
	.flex-grow(1);
	.flex-basis;
	.align-self(center);
	overflow: hidden;
	line-height: @default-element-height;
	height: @default-element-height;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	text-transform:lowercase;
	font-weight: normal;
	font-size: 1.8em;
	color: @Carillion-grey;
}

.jmuiToolButton, 
.jmuiDeleteButton, 
.jmuiCancelButton, 
.jmuiBackButton, 
.jmuiAddButton, 
.jmuiActionButton {
	.flex-order(3);
	.flex-shrink;
	.flex-grow;
	.align-self(flex-end);
	.flex-basis;
	text-align: right;
	}
	
.jmuiBackButton, 
.jmuiCancelButton, 
.jmuiLeftButton {
	.flex-order(1);
	.align-self(flex-start);
	text-align: left;
}	

.jmuiButtonbar {
	width:100%;
	height:@default-element-height;
	border-top: @default-border-width solid;
}

//Footer buttons

.jmuiFooter div {color: @Carillion-white;}
//SW

#sw-wrapper {
	position:absolute; 
	z-index:1000;
	left:0;
	width:100%;
	background:rgba(0,0,0,0.7);
	text-align:left;
}

#sw-header {
	position:relative;
	width:100%; 
	height:43px;
	border-top:@default-border-width solid; 
	border-bottom:@default-border-width solid;
	opacity: 0.9;
}

#sw-cancel, 
#sw-done {
	position:absolute;
	top:7px;
	height:20px; 
	line-height:20px;
	padding:0 5px; 
	color:#fff;
}

#sw-cancel {
	left:7px;
	float:left;
}

#sw-done {
	right:7px;
	float:right;
}

#sw-slots-wrapper {
	position:relative; 
	z-index:999;
	display:block;
	height:215px;
	padding:0 11px;
	overflow:hidden;
}

#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	display:table-cell;
	height:100%;
	padding-top:86px;
	border-left:2px solid #0d0e0f;
	background-color:#fcfcfc;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 85px 0; margin:0;
	list-style:none;
}

#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-center { text-align:center; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background:@mid-grey; }

#sw-slots li {
	padding:0 8px;
	height:44px;
	overflow:hidden;
}

#sw-frame {
	position:absolute; 
	z-index:1000;
	left:0; 
	right:0; 
	bottom:0;
	height:183px;
}

// Slots

.jmuiSlotPage {
	bottom: 0;
}

.jmuiSlotMachine {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:center;
	-webkit-box-sizing: border-box;
	background-color: @element-bg;
	text-align:center;
}

.jmuiSlot {
	display:inline-block;
}

.jmuiSlot div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	background-color: #333;
	border: 1px solid white;
}

.jmuiSlot div:nth-child(1) {
	.border-radius( 4px 4px 0 0);
	color: white;
	font-size: 1.5em;
}

.jmuiSlot div:nth-child(2) {
	background-color: transparent;
	padding: 5px 0;
	font-size: 1.15em;
}

.jmuiSlot div:nth-child(3) {
	.border-radius( 0 0 4px 4px);
	color: white;
	font-size: 1.8em;
}
.jmuiSlot.jmuiStatic div { 
	min-width: 0.75em; 
	text-align: center;
	background-color: transparent;
}

// Date page
.jmuiLayout .jmuiDatePage li, 
.jmuiLayout .jmuiTimePage li {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	.box-sizing(border-box);
}

.jmuiLayout .jmuiDatePage li select, 
.jmuiLayout .jmuiTimePage li select {
	display: block;
	width: auto;
}

// Segmented Controls

.jmuiSegmentGroup {	
	.jmuiSegmentHeader {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack:justify;
		.box-sizing(border-box);
		
		.jmuiSegmentButton {
			display: block;
			-webkit-box-flex: 1;
			padding: 3px;
			border: @default-border-width solid;
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}

.jmuiSegmentButton.jmuiSelected {background-color: black;}
.jmuiSegmentButton.jmuiSelected div {color: white;}

.jmuiSegmentButton:first-of-type {.border-radius(4px 0 0 4px);}
.jmuiSegmentButton:last-of-type {.border-radius(0 4px 4px 0);}
