/* --------------------------------------------------
 User Feedback
 -------------------------------------------------- */


//Message Box

#msgBoxContainer {
	background-color: rgba(0,0,0,0.3);
	display: -webkit-box;	
	-webkit-box-orient: vertical;
	-webkit-box-pack:center;
	-webkit-box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	}

#msgBoxContainer > div {
	.border-radius(@border-radius-alert);
	opacity: 1;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	overflow: hidden;
	width:80%;
	margin: 0 auto;
}

#msgBoxContainer h1 {padding: (@page-margin /2) (@page-margin /2) 0;}

#msgBoxContainer p {padding: (@page-margin /2);}

#msgBoxContainer .msgBoxButton {
	-webkit-box-sizing: border-box;
	display: block;
	border-top: @default-border-width solid @border-color;
	padding: 6px 3px;
}

#msgBoxContainer .msgBoxButton:hover {background-color: @elementfocus;}

//Error focus
.jmuiPseudoFocus input {  
	border: 2px solid red !important;
}

//Touch Feedback

.jmuiLayout .jmuiArrow.jmuiSelected {color: @input-text;}
.jmuiLayout ul tr.jmuiSelected { background-color: @selected;}


//Replicate
#replicatePage .jmuiHeader > div {width: auto;}
#replicatePage h2 {
	color: @Carillion-grey;
	margin-top: 45%;
	text-align: center;
	font-size:1.8em;
	font-weight: normal;
}

#replicatePage h2:first-child:before {
	content: "\f021";
	.spin(1s);
	margin-right: 10px;
}

.progressBar {
	background:@accent;
	margin: -110px 0 0 0;
	height: (@default-border-width*2);
	display: none;
}

.progressComplete {
	background-color: @element-bg;
	height: (@default-border-width * 2);
}

#replicatePage h2.statusText {
	text-align: center;
	font-size: 0.75em;
	margin-top: 0;
	}
