// --------------------------------------------------
// Variables
// --------------------------------------------------

// Colours


@Carillion-pale-blue:		#E5F4FA;
@Carillion-health-blue:		#19B0C7;
@Carillion-blue:			#1F8CCF;
@Carillion-navy-blue:		#203B94;
@Carillion-grey:			#57585a;
@Carillion-white:			#ffffff;

@accent:					#2880e1;


@toolbar:					lighten(@accent, 5%);
@toolbar-text:				#fff;
@toolbar-buttons:			#fff;
@background:				#fff;
@scrollerBg:				@Carillion-pale-blue;
@picker:					darken(@background, 20%);
@mid-grey:					#aeaab3;
@placeholder-text:			lighten(@mid-grey, 20%);
@border-color:				lighten(@mid-grey, 20%);
@input-text:				#000;
@element-bg:				#fff;
@heading-bg-color:			@element-bg;
@heading-text-color:		@accent;
@container-bg-color:		@heading-bg-color;
@inline-buttons:			#111111;
@slot-background:			lighten(@accent, 20%);
@search-background:			@placeholder-text;
@disabled:					silver;
@selected:					Wheat;
@highlight-text:			@input-text;
@elementfocus:              #e1e0e3;
@input-bg:					white;
@input-border-color:		@input-bg;
@table-header-color:		@accent;
@table-odd:					#fff;
@table-even:				#f1f1f1;
@table-th:					#f1f1f1;
@container-border-color:	#e1e0e3;




// Iconography
// -------------------------

@icon-font-path:          	"";
@icon-font-name:          	"fontawesome-webfont";

//Typography
// -------------------------
@font-size-base:			17px;
@button-font-size:			(@font-size-base);
@font-family-sans-serif:  	"Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
@button-weight:				400;
@toolbar-title-weight:		500;
@glyph-size:				2em;

//Layout
// -------------------------
@default-border-width:		1px;
@default-element-height:	44px;
@toolbar-height:			44px;
@default-heading-height:	44px;
@border-radius:				0px;
@border-radius-alert:		0px;
@page-margin:				10px;
@element-padding:			6px;
@container-top-margin:		1px;
@heading-top-margin:		1px;

//Paths
// -------------------------
@image-path:          		"../../images/";